.paragraph { 
   text-indent: 30px;
}

.relevent-screenshot {
   width: 50%;
   height: auto;
}

.comparative {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}